--
-- Create model AcademicYear
--
CREATE TABLE `academic_years` (`id` char(32) NOT NULL PRIMARY KEY, `created_at` datetime(6) NOT NULL, `updated_at` datetime(6) NOT NULL, `is_active` bool NOT NULL, `name` varchar(50) NOT NULL, `start_date` date NOT NULL, `end_date` date NOT NULL, `is_current` bool NOT NULL);
--
-- Create model Role
--
CREATE TABLE `roles` (`id` char(32) NOT NULL PRIMARY KEY, `created_at` datetime(6) NOT NULL, `updated_at` datetime(6) NOT NULL, `is_active` bool NOT NULL, `name` varchar(50) NOT NULL UNIQUE, `display_name` varchar(100) NOT NULL, `description` longtext NOT NULL, `scope_level` integer NOT NULL, `can_manage_tenants` bool NOT NULL, `can_manage_users` bool NOT NULL, `can_manage_departments` bool NOT NULL, `can_manage_subjects` bool NOT NULL, `can_manage_attendance` bool NOT NULL, `can_manage_assessments` bool NOT NULL, `can_view_reports` bool NOT NULL, `can_manage_billing` bool NOT NULL);
--
-- Create model UserAccount
--
CREATE TABLE `user_accounts` (`password` varchar(128) NOT NULL, `id` char(32) NOT NULL PRIMARY KEY, `created_at` datetime(6) NOT NULL, `updated_at` datetime(6) NOT NULL, `is_active` bool NOT NULL, `email` varchar(254) NOT NULL UNIQUE, `username` varchar(150) NULL UNIQUE, `first_name` varchar(100) NOT NULL, `last_name` varchar(100) NOT NULL, `phone` varchar(20) NULL, `profile_picture` varchar(100) NULL, `date_of_birth` date NULL, `gender` varchar(10) NULL, `is_staff` bool NOT NULL, `is_superuser` bool NOT NULL, `email_verified` bool NOT NULL, `phone_verified` bool NOT NULL, `two_factor_enabled` bool NOT NULL, `two_factor_secret` varchar(32) NULL, `last_login` datetime(6) NULL, `date_joined` datetime(6) NOT NULL, `language_preference` varchar(10) NOT NULL, `notification_preferences` json NOT NULL, `role_id` char(32) NULL);
CREATE TABLE `user_accounts_groups` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `useraccount_id` char(32) NOT NULL, `group_id` integer NOT NULL);
CREATE TABLE `user_accounts_user_permissions` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `useraccount_id` char(32) NOT NULL, `permission_id` integer NOT NULL);
--
-- Create model Department
--
CREATE TABLE `departments` (`id` char(32) NOT NULL PRIMARY KEY, `created_at` datetime(6) NOT NULL, `updated_at` datetime(6) NOT NULL, `is_active` bool NOT NULL, `name` varchar(200) NOT NULL, `code` varchar(20) NOT NULL, `description` longtext NULL, `email` varchar(254) NULL, `phone` varchar(20) NULL, `office_location` varchar(255) NULL, `established_year` integer NULL, `hod_id` char(32) NULL);
--
-- Create model Section
--
CREATE TABLE `sections` (`id` char(32) NOT NULL PRIMARY KEY, `created_at` datetime(6) NOT NULL, `updated_at` datetime(6) NOT NULL, `is_active` bool NOT NULL, `name` varchar(100) NOT NULL, `code` varchar(20) NOT NULL, `semester` integer NOT NULL, `year` integer NOT NULL, `max_students` integer NOT NULL, `current_student_count` integer NOT NULL, `academic_year_id` char(32) NOT NULL, `class_representative_id` char(32) NULL, `department_id` char(32) NOT NULL);
--
-- Create model Tenant
--
CREATE TABLE `tenants` (`id` char(32) NOT NULL PRIMARY KEY, `created_at` datetime(6) NOT NULL, `updated_at` datetime(6) NOT NULL, `is_active` bool NOT NULL, `name` varchar(255) NOT NULL UNIQUE, `slug` varchar(255) NOT NULL UNIQUE, `subdomain` varchar(63) NULL UNIQUE, `email` varchar(254) NOT NULL, `phone` varchar(20) NOT NULL, `website` varchar(200) NULL, `address_line1` varchar(255) NOT NULL, `address_line2` varchar(255) NULL, `city` varchar(100) NOT NULL, `state` varchar(100) NOT NULL, `country` varchar(100) NOT NULL, `postal_code` varchar(20) NOT NULL, `logo` varchar(100) NULL, `primary_color` varchar(7) NOT NULL, `secondary_color` varchar(7) NOT NULL, `subscription_status` varchar(20) NOT NULL, `subscription_plan` varchar(50) NULL, `subscription_start_date` date NULL, `subscription_end_date` date NULL, `trial_end_date` date NULL, `timezone` varchar(50) NOT NULL, `date_format` varchar(20) NOT NULL, `currency` varchar(3) NOT NULL, `academic_year_start_month` integer NOT NULL, `academic_year_end_month` integer NOT NULL, `max_students` integer NOT NULL, `max_teachers` integer NOT NULL, `max_departments` integer NOT NULL, `max_storage_gb` integer NOT NULL, `current_students_count` integer NOT NULL, `current_teachers_count` integer NOT NULL, `current_departments_count` integer NOT NULL, `current_storage_used_gb` numeric(10, 2) NOT NULL, `onboarding_completed` bool NOT NULL, `stripe_customer_id` varchar(100) NULL);
--
-- Create model Subject
--
CREATE TABLE `subjects` (`id` char(32) NOT NULL PRIMARY KEY, `created_at` datetime(6) NOT NULL, `updated_at` datetime(6) NOT NULL, `is_active` bool NOT NULL, `name` varchar(200) NOT NULL, `code` varchar(20) NOT NULL, `description` longtext NULL, `credits` integer NOT NULL, `hours_per_week` integer NOT NULL, `subject_type` varchar(20) NOT NULL, `semester` integer NULL, `year` integer NULL, `syllabus_file` varchar(100) NULL, `department_id` char(32) NOT NULL, `tenant_id` char(32) NOT NULL);
--
-- Create model StudentEnrollment
--
CREATE TABLE `student_enrollments` (`id` char(32) NOT NULL PRIMARY KEY, `created_at` datetime(6) NOT NULL, `updated_at` datetime(6) NOT NULL, `is_active` bool NOT NULL, `enrollment_date` date NOT NULL, `roll_number` varchar(50) NOT NULL, `status` varchar(20) NOT NULL, `academic_year_id` char(32) NOT NULL, `section_id` char(32) NOT NULL, `student_id` char(32) NOT NULL, `tenant_id` char(32) NOT NULL);
--
-- Add field tenant to section
--
ALTER TABLE `sections` ADD COLUMN `tenant_id` char(32) NOT NULL , ADD CONSTRAINT `sections_tenant_id_2e592c8e_fk_tenants_id` FOREIGN KEY (`tenant_id`) REFERENCES `tenants`(`id`);
--
-- Create model ParentStudentLink
--
CREATE TABLE `parent_student_links` (`id` char(32) NOT NULL PRIMARY KEY, `created_at` datetime(6) NOT NULL, `updated_at` datetime(6) NOT NULL, `is_active` bool NOT NULL, `relationship` varchar(20) NOT NULL, `is_primary_contact` bool NOT NULL, `can_view_grades` bool NOT NULL, `can_view_attendance` bool NOT NULL, `can_view_behavior` bool NOT NULL, `parent_id` char(32) NOT NULL, `student_id` char(32) NOT NULL, `tenant_id` char(32) NOT NULL);
--
-- Add field tenant to department
--
ALTER TABLE `departments` ADD COLUMN `tenant_id` char(32) NOT NULL , ADD CONSTRAINT `departments_tenant_id_680bbe49_fk_tenants_id` FOREIGN KEY (`tenant_id`) REFERENCES `tenants`(`id`);
--
-- Create model AuditLog
--
CREATE TABLE `audit_logs` (`id` char(32) NOT NULL PRIMARY KEY, `timestamp` datetime(6) NOT NULL, `action` varchar(50) NOT NULL, `resource_type` varchar(100) NOT NULL, `resource_id` varchar(255) NULL, `description` longtext NOT NULL, `ip_address` char(39) NULL, `user_agent` longtext NULL, `changes` json NULL, `status` varchar(20) NOT NULL, `user_id` char(32) NULL, `tenant_id` char(32) NULL);
--
-- Add field tenant to academicyear
--
ALTER TABLE `academic_years` ADD COLUMN `tenant_id` char(32) NOT NULL , ADD CONSTRAINT `academic_years_tenant_id_cf6ea2b1_fk_tenants_id` FOREIGN KEY (`tenant_id`) REFERENCES `tenants`(`id`);
--
-- Add field tenant to useraccount
--
ALTER TABLE `user_accounts` ADD COLUMN `tenant_id` char(32) NULL , ADD CONSTRAINT `user_accounts_tenant_id_1f8c0b9e_fk_tenants_id` FOREIGN KEY (`tenant_id`) REFERENCES `tenants`(`id`);
--
-- Create model TenantDomain
--
CREATE TABLE `tenant_domains` (`id` char(32) NOT NULL PRIMARY KEY, `created_at` datetime(6) NOT NULL, `updated_at` datetime(6) NOT NULL, `is_active` bool NOT NULL, `domain` varchar(255) NOT NULL UNIQUE, `is_primary` bool NOT NULL, `is_verified` bool NOT NULL, `tenant_id` char(32) NOT NULL);
--
-- Create model TeacherSubjectAssignment
--
CREATE TABLE `teacher_subject_assignments` (`id` char(32) NOT NULL PRIMARY KEY, `created_at` datetime(6) NOT NULL, `updated_at` datetime(6) NOT NULL, `is_active` bool NOT NULL, `is_primary` bool NOT NULL, `academic_year_id` char(32) NOT NULL, `section_id` char(32) NOT NULL, `subject_id` char(32) NOT NULL, `teacher_id` char(32) NOT NULL, `tenant_id` char(32) NOT NULL);
--
-- Create index subjects_tenant__0fbedd_idx on field(s) tenant, department of model subject
--
CREATE INDEX `subjects_tenant__0fbedd_idx` ON `subjects` (`tenant_id`, `department_id`);
--
-- Alter unique_together for subject (1 constraint(s))
--
ALTER TABLE `subjects` ADD CONSTRAINT `subjects_tenant_id_department_id_code_a157a947_uniq` UNIQUE (`tenant_id`, `department_id`, `code`);
--
-- Create index student_enr_tenant__8ef8b5_idx on field(s) tenant, student of model studentenrollment
--
CREATE INDEX `student_enr_tenant__8ef8b5_idx` ON `student_enrollments` (`tenant_id`, `student_id`);
--
-- Create index student_enr_tenant__5ecacb_idx on field(s) tenant, section of model studentenrollment
--
CREATE INDEX `student_enr_tenant__5ecacb_idx` ON `student_enrollments` (`tenant_id`, `section_id`);
--
-- Create index student_enr_roll_nu_f3d949_idx on field(s) roll_number of model studentenrollment
--
CREATE INDEX `student_enr_roll_nu_f3d949_idx` ON `student_enrollments` (`roll_number`);
--
-- Alter unique_together for studentenrollment (1 constraint(s))
--
ALTER TABLE `student_enrollments` ADD CONSTRAINT `student_enrollments_tenant_id_student_id_sec_a2527d28_uniq` UNIQUE (`tenant_id`, `student_id`, `section_id`, `academic_year_id`);
--
-- Create index sections_tenant__d8bbdd_idx on field(s) tenant, department of model section
--
CREATE INDEX `sections_tenant__d8bbdd_idx` ON `sections` (`tenant_id`, `department_id`);
--
-- Alter unique_together for section (1 constraint(s))
--
ALTER TABLE `sections` ADD CONSTRAINT `sections_tenant_id_department_id__87390fe4_uniq` UNIQUE (`tenant_id`, `department_id`, `academic_year_id`, `code`);
--
-- Create index parent_stud_tenant__be0c67_idx on field(s) tenant, parent of model parentstudentlink
--
CREATE INDEX `parent_stud_tenant__be0c67_idx` ON `parent_student_links` (`tenant_id`, `parent_id`);
--
-- Create index parent_stud_tenant__df171c_idx on field(s) tenant, student of model parentstudentlink
--
CREATE INDEX `parent_stud_tenant__df171c_idx` ON `parent_student_links` (`tenant_id`, `student_id`);
--
-- Alter unique_together for parentstudentlink (1 constraint(s))
--
ALTER TABLE `parent_student_links` ADD CONSTRAINT `parent_student_links_parent_id_student_id_b883a42c_uniq` UNIQUE (`parent_id`, `student_id`);
--
-- Create index departments_tenant__4de759_idx on field(s) tenant, code of model department
--
CREATE INDEX `departments_tenant__4de759_idx` ON `departments` (`tenant_id`, `code`);
--
-- Alter unique_together for department (1 constraint(s))
--
ALTER TABLE `departments` ADD CONSTRAINT `departments_tenant_id_code_3073d104_uniq` UNIQUE (`tenant_id`, `code`);
--
-- Create index audit_logs_tenant__eb751d_idx on field(s) tenant, timestamp of model auditlog
--
CREATE INDEX `audit_logs_tenant__eb751d_idx` ON `audit_logs` (`tenant_id`, `timestamp`);
--
-- Create index audit_logs_user_id_88267f_idx on field(s) user, timestamp of model auditlog
--
CREATE INDEX `audit_logs_user_id_88267f_idx` ON `audit_logs` (`user_id`, `timestamp`);
--
-- Create index audit_logs_action_31f574_idx on field(s) action of model auditlog
--
CREATE INDEX `audit_logs_action_31f574_idx` ON `audit_logs` (`action`);
--
-- Alter unique_together for academicyear (1 constraint(s))
--
ALTER TABLE `academic_years` ADD CONSTRAINT `academic_years_tenant_id_name_63a190ba_uniq` UNIQUE (`tenant_id`, `name`);
--
-- Create index user_accoun_email_2a098d_idx on field(s) email of model useraccount
--
CREATE INDEX `user_accoun_email_2a098d_idx` ON `user_accounts` (`email`);
--
-- Create index user_accoun_tenant__5581af_idx on field(s) tenant, role of model useraccount
--
CREATE INDEX `user_accoun_tenant__5581af_idx` ON `user_accounts` (`tenant_id`, `role_id`);
--
-- Alter unique_together for tenantdomain (1 constraint(s))
--
ALTER TABLE `tenant_domains` ADD CONSTRAINT `tenant_domains_tenant_id_domain_8de8a706_uniq` UNIQUE (`tenant_id`, `domain`);
ALTER TABLE `user_accounts` ADD CONSTRAINT `user_accounts_role_id_ab8d24f4_fk_roles_id` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`);
ALTER TABLE `user_accounts_groups` ADD CONSTRAINT `user_accounts_groups_useraccount_id_group_id_2c75de5f_uniq` UNIQUE (`useraccount_id`, `group_id`);
ALTER TABLE `user_accounts_groups` ADD CONSTRAINT `user_accounts_groups_useraccount_id_f814175c_fk_user_accounts_id` FOREIGN KEY (`useraccount_id`) REFERENCES `user_accounts` (`id`);
ALTER TABLE `user_accounts_groups` ADD CONSTRAINT `user_accounts_groups_group_id_ca633dc4_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`);
ALTER TABLE `user_accounts_user_permissions` ADD CONSTRAINT `user_accounts_user_permi_useraccount_id_permissio_11efbbbc_uniq` UNIQUE (`useraccount_id`, `permission_id`);
ALTER TABLE `user_accounts_user_permissions` ADD CONSTRAINT `user_accounts_user_p_useraccount_id_bd7471b7_fk_user_acco` FOREIGN KEY (`useraccount_id`) REFERENCES `user_accounts` (`id`);
ALTER TABLE `user_accounts_user_permissions` ADD CONSTRAINT `user_accounts_user_p_permission_id_855d22a2_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`);
ALTER TABLE `departments` ADD CONSTRAINT `departments_hod_id_0966886f_fk_user_accounts_id` FOREIGN KEY (`hod_id`) REFERENCES `user_accounts` (`id`);
ALTER TABLE `sections` ADD CONSTRAINT `sections_academic_year_id_566ce180_fk_academic_years_id` FOREIGN KEY (`academic_year_id`) REFERENCES `academic_years` (`id`);
ALTER TABLE `sections` ADD CONSTRAINT `sections_class_representative_id_1d7b0fa6_fk_user_accounts_id` FOREIGN KEY (`class_representative_id`) REFERENCES `user_accounts` (`id`);
ALTER TABLE `sections` ADD CONSTRAINT `sections_department_id_6e9fb0f6_fk_departments_id` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`);
CREATE INDEX `tenants_slug_3181c2_idx` ON `tenants` (`slug`);
CREATE INDEX `tenants_subdoma_69cf01_idx` ON `tenants` (`subdomain`);
CREATE INDEX `tenants_subscri_f58e68_idx` ON `tenants` (`subscription_status`);
ALTER TABLE `subjects` ADD CONSTRAINT `subjects_department_id_484407a8_fk_departments_id` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`);
ALTER TABLE `subjects` ADD CONSTRAINT `subjects_tenant_id_2b63e493_fk_tenants_id` FOREIGN KEY (`tenant_id`) REFERENCES `tenants` (`id`);
ALTER TABLE `student_enrollments` ADD CONSTRAINT `student_enrollments_academic_year_id_0fdd3fc6_fk_academic_` FOREIGN KEY (`academic_year_id`) REFERENCES `academic_years` (`id`);
ALTER TABLE `student_enrollments` ADD CONSTRAINT `student_enrollments_section_id_fd615a83_fk_sections_id` FOREIGN KEY (`section_id`) REFERENCES `sections` (`id`);
ALTER TABLE `student_enrollments` ADD CONSTRAINT `student_enrollments_student_id_8f9115cb_fk_user_accounts_id` FOREIGN KEY (`student_id`) REFERENCES `user_accounts` (`id`);
ALTER TABLE `student_enrollments` ADD CONSTRAINT `student_enrollments_tenant_id_428ffdce_fk_tenants_id` FOREIGN KEY (`tenant_id`) REFERENCES `tenants` (`id`);
ALTER TABLE `parent_student_links` ADD CONSTRAINT `parent_student_links_parent_id_9342148f_fk_user_accounts_id` FOREIGN KEY (`parent_id`) REFERENCES `user_accounts` (`id`);
ALTER TABLE `parent_student_links` ADD CONSTRAINT `parent_student_links_student_id_f73059b0_fk_user_accounts_id` FOREIGN KEY (`student_id`) REFERENCES `user_accounts` (`id`);
ALTER TABLE `parent_student_links` ADD CONSTRAINT `parent_student_links_tenant_id_73dde53e_fk_tenants_id` FOREIGN KEY (`tenant_id`) REFERENCES `tenants` (`id`);
ALTER TABLE `audit_logs` ADD CONSTRAINT `audit_logs_user_id_752b0e2b_fk_user_accounts_id` FOREIGN KEY (`user_id`) REFERENCES `user_accounts` (`id`);
ALTER TABLE `audit_logs` ADD CONSTRAINT `audit_logs_tenant_id_1b186b1b_fk_tenants_id` FOREIGN KEY (`tenant_id`) REFERENCES `tenants` (`id`);
ALTER TABLE `tenant_domains` ADD CONSTRAINT `tenant_domains_tenant_id_6d1ef00b_fk_tenants_id` FOREIGN KEY (`tenant_id`) REFERENCES `tenants` (`id`);
ALTER TABLE `teacher_subject_assignments` ADD CONSTRAINT `teacher_subject_assignme_teacher_id_subject_id_se_49d05886_uniq` UNIQUE (`teacher_id`, `subject_id`, `section_id`, `academic_year_id`);
ALTER TABLE `teacher_subject_assignments` ADD CONSTRAINT `teacher_subject_assi_academic_year_id_5787dcb9_fk_academic_` FOREIGN KEY (`academic_year_id`) REFERENCES `academic_years` (`id`);
ALTER TABLE `teacher_subject_assignments` ADD CONSTRAINT `teacher_subject_assignments_section_id_9b9efb30_fk_sections_id` FOREIGN KEY (`section_id`) REFERENCES `sections` (`id`);
ALTER TABLE `teacher_subject_assignments` ADD CONSTRAINT `teacher_subject_assignments_subject_id_4367243b_fk_subjects_id` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`id`);
ALTER TABLE `teacher_subject_assignments` ADD CONSTRAINT `teacher_subject_assi_teacher_id_4872c3d5_fk_user_acco` FOREIGN KEY (`teacher_id`) REFERENCES `user_accounts` (`id`);
ALTER TABLE `teacher_subject_assignments` ADD CONSTRAINT `teacher_subject_assignments_tenant_id_05840f41_fk_tenants_id` FOREIGN KEY (`tenant_id`) REFERENCES `tenants` (`id`);
CREATE INDEX `teacher_sub_tenant__956b51_idx` ON `teacher_subject_assignments` (`tenant_id`, `teacher_id`);
CREATE INDEX `teacher_sub_tenant__87517a_idx` ON `teacher_subject_assignments` (`tenant_id`, `section_id`);
