{% extends 'base.html' %}

{% block title %}Create Exam Schedule{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card border-0 shadow-sm">
                <div class="card-header bg-white py-3">
                    <h4 class="mb-0 fw-bold">Create Exam Schedule</h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-info">
                        Exam schedule creation form - To be implemented
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
